//* Home Page 
html {
    //*Smooth scrolling enabled 
    scroll-behavior: smooth;
}

//*Header <Container/>
#home-header-container {
    .header {
        color: rgb(0, 56, 0);
        background: rgba(255, 255, 255, 0.75);
        border-radius: 5px 5px 0px 0px;
    
        h1 {
            font-size: 60px;
        }
        h3 {
            font-size: 40px;
        }
    }
}

//*<Search/> 
#search-section {
    margin-top: 50px;

    #search-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* cross x */
        justify-content: center;
        /* main y */
    
        // <Form-Group/>
        div {
            //<Form-Select/>
            .search-selectTag {
                width: 500px;
                margin: 0 auto;
                font-size: 20px;
            }
        } //!div

        // <Button/>
        .btn {
            //center
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: white;
                text-decoration: none;
                font-size: 24px;
            }
        }

        //in between form-group's 
        .label-break {
            display: flex;
            text-align: center;

            p {
                color: #fff;
                text-shadow: -1px -1px 6px #000, 1px -1px 6px #000, -1px 1px 6px #000,
                1px 1px 6px #000;
                font-weight: bold;
                font-size: 24px;
            }
        }
    } //!#search-form
} 

//*<List/>
.container#parks-by-state-section {
    .title {
        display: flex;
        justify-content: center;
        h1 {
            color: #fff;
            text-shadow: -1px -1px 6px #000, 1px -1px 6px #000, -1px 1px 6px #000,
            1px 1px 6px #000;
            font-weight: bold;
        }
    }

    //*holds overlay and port project
    .card {
        position: relative;
        .img-overlay {
            //?bootstrap card border radius
            border-top-left-radius: var(--bs-card-inner-border-radius);
            border-top-right-radius: var(--bs-card-inner-border-radius);

            //?overlay on top of img
            position: absolute;
            z-index: 2;
            width: 100%;
            height: 250px;
            opacity: 0;
            background-color: #000;
            //?smooth when hovered
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
            
            //centering link inside
            display: flex;
            justify-content: center;
            align-items: center;

            //Link shows on hover
            a {
                color: white;
                text-decoration: none;
                font-size: 24px;
            }
        }
        //actual img
        .preview-img {
            height: 250px;
        }
        //?KEEP CARD BODY SAME just on top of overlay
        .card-body {
            z-index: 3;
            background: white;
        }
    }

    .card:hover {
        .img-overlay {
            opacity: 0.85;
            a {
                color: white;
                text-decoration: none;
                font-size: 30px;
            }
        }
    }
}