//* Home Page 
html {
    //*Smooth scrolling enabled 
    scroll-behavior: smooth;
}

//*Header <Container/>
#header {
    color: rgb(0, 56, 0);
    background: rgba(255, 255, 255, 0.75);
    border-radius: 5px 5px 0px 0px;

    h1 {
        font-size: 60px;
    }
    h3 {
        font-size: 40px;
    }
}

//*<Search/> 
#search-section {
    margin-top: 50px;

    #search-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* cross x */
        justify-content: center;
        /* main y */
    
        // <Form-Group/>
        div {
            //<Form-Select/>
            .search-selectTag {
                width: 500px;
                margin: 0 auto;
                font-size: 20px;
            }
        } //!div

        // <Button/>
        .btn {
            //center
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                color: white;
                text-decoration: none;
                font-size: 24px;
            }
        }

        //in between form-group's 
        .label-break {
            display: flex;
            text-align: center;

            p {
                color: #fff;
                text-shadow: -1px -1px 6px #000, 1px -1px 6px #000, -1px 1px 6px #000,
                1px 1px 6px #000;
                font-weight: bold;
                font-size: 24px;
            }
        }
    } //!#search-form
} 

//*<List/>
.container#parks-by-state-section {
    .title {
        display: flex;
        justify-content: center;
        h1 {
            color: #fff;
            text-shadow: -1px -1px 6px #000, 1px -1px 6px #000, -1px 1px 6px #000,
            1px 1px 6px #000;
            font-weight: bold;
        }
    }

    .preview-img {
        height: 250px;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}