//* Park Page
.bg-overlay {
  //covers #bg-img and entire page
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  //allows scrolling over fixed bg
  overflow-y: scroll;
  //darkens bg-img
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
}

#bg-img {
  //covers static bg-img and entire page
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  //allows scrolling over fixed bg
  overflow-y: scroll;

  margin: 0;
  padding: 0;
}

//!NEW
#content {
  position: relative;

  .back-btn {
    position: absolute;
    left: 10px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    border-radius: 10px;    
  }

  .back-btn:hover {
    background: #fff;
    color: #000;
  }

  //*All containers 
//   #park-header-container,
//   #carousel-container,
//   #info-container{
    
//   }

  //*Header <Container/>
  // #park-header-container
  .park-header {
    color: #fff;
    text-shadow: -1px -1px 6px #000, 1px -1px 6px #000, -1px 1px 6px #000,
    1px 1px 6px #000;
    border-radius: 5px 5px 0px 0px;
    h1 {
      font-size: 60px;
    }
  }

  //*Carousel
  #carousel-container {
    .carousel-sizer {
      width: 100%;
      //arrow controls
      .carousel-control-prev,
      .carousel-control-next {
        background-color: #000;
        width: 10%;
      }
      // .carousel-control-prev {
      //   left: 20%;
      //   bottom: 25%;
      // }
      // .carousel-control-next {
      //   right: 25%;
      // }
      //holds all items
      .carousel-inner {
        img {
          height: 400px;
          object-fit: cover;
        }
        .carousel-caption {
          color: #fff;
          text-shadow: -1px -1px 6px #000, 1px -1px 6px #000, -1px 1px 6px #000,
            1px 1px 6px #000;
          font-weight: bold;
          font-size: 24px;
        }
      }
    }
  }

  //*Info Container
  #info-container {
    .info {
      color: #fff;
      border-radius: 0px;
    //   text-shadow: -1px -1px 6px #000, 1px -1px 6px #000, -1px 1px 6px #000,
    //   1px 1px 6px #000;
      text-shadow: 2px 2px 2px #000,
      2px -2px 2px #000,
      -2px 2px 2px #000,
      -2px -2px 2px #000;

      p {
        font-size: 1.75em;
      }
      .row {
        //address block
        p {
          display: flex;
          justify-content: center;
        }
      }
      #phone-number {
        display: flex;
        justify-content: center;
      }
      #email {
        display: flex;
        justify-content: center;
      }
    }
    .division {
      border: 1px solid #fff;
      margin: 20px 0px 0px 0px;
    }
    .btn {
      //center
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 2px solid #fff;
      a {
        color: white;
        text-decoration: none;
        font-size: 3em;
        text-shadow: 2px 2px 2px #000,
        2px -2px 2px #000,
        -2px 2px 2px #000,
        -2px -2px 2px #000;
      }
    }
    .btn:hover {
      background-color: #fff;
      a {
        color: #000;
        text-shadow: none;
      }
    }
  }
}


//Media Queries

@media (max-width: 768px) {
  #content {
    .back-btn {
      font-size: 10px;
    }
    .park-header {
      h1 {
        font-size: 40px;
      }
    }
    #info-container {
      .info {
        p {
          font-size: 20px;
        }
      }
    }
  }
}